{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}

<!-- Loop through and display blocks -->
<section class="collection-dynamic-product-grid">
  <div class="collection-dynamic-product-grid__inner">
    <div class="block-section">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'product' %}
            <div class="product-block">
              {% render 'product-card',
                heading_level: 'h3',
                card_product: product,
                section_id: section.id,
                product_collection: collection
              %}
            </div>
          {% when 'video_embed' %}
            <div class="video-embed-block">
              <!-- Display video embed block content -->
              VIDEO
            </div>
          {% when 'image' %}
            <div class="image-block">
              <img
                srcset="
                  {%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if block.settings.image.width >= 533 -%}{{ block.settings.image | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if block.settings.image.width >= 800 -%}{{ block.settings.image | image_url: width: 800 }} 800w,{%- endif -%}
                  {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if block.settings.image.width >= 1066 -%}{{ block.settings.image | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ block.settings.image | image_url }} {{ block.settings.image.width }}w
                "
                src="{{ block.settings.image | image_url: width: 533 }}"
                sizes="(min-width: 700px) 50vw, 90vw"
                alt="{{ block.settings.image.alt | escape }}"
                class="motion-reduce"
                loading="lazy"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
              >
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Dynamic Collection Grid",
  "settings": [],
  "blocks": [
    {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    },
    {
      "name": "Video Embed",
      "type": "video_embed",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "A Shopify-hosted video"
        }
      ]
    },
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_with_text_image",
          "label": "Image or GIF"
        }
      ]
    }
  ]
}
{% endschema %}
