<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-product-card.css' | asset_url }}" media="print" onload="this.media='all'">

{{ 'component-header.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-off-canvas.css' | asset_url }}" media="print" onload="this.media='all'">
{{ 'component-modal.css' | asset_url | stylesheet_tag }}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-off-canvas.js' | asset_url }}" defer="defer"></script>

<sticky-header class="header-wrapper">
  <header class="header ">
    <div class="header__inner  page-width">
      <div class="header-drawer-blocker"></div>

      {%- if section.settings.menu != blank -%}
        <header-drawer data-breakpoint="tablet">
          <details id="Details-menu-drawer-container" class="header-menu-drawer-container" data-menu-drawer-container>
            <summary
              class="header__icon header__icon--menu header__icon--summary link focus-inset"
              aria-label="{{ 'sections.header.menu' | t }}"
              aria-expanded="false"
              data-header-drawer-toggle
            >
              <span class="header__icon__inner"> </span>
              <span class="header__icon__text visually-hidden" data-text> Open Menu </span>
            </summary>
            <aside class="menu-drawer  header-menu-drawer motion-reduce" tabindex="-1" data-header-drawer-menu>
              <div class="menu-drawer__inner-container">
                <div class="menu-drawer__navigation-container">
                  <nav class="menu-drawer__navigation">
                    <ul class="menu-drawer__menu" role="list">
                      {%- for link in section.settings.menu.links -%}
                        <li>
                          {%- if link.links != blank -%}
                            <div class="menu-drawer__menu-item  " id="{{ link.title | escape }}">
                              {{ link.title | escape }}
                            </div>
                            <ul
                              class="menu-drawer__menu__list"
                              role="list"
                              tabindex="-1"
                              aria-labelledby="{{ link.title | escape }}"
                            >
                              {%- for childlink in link.links -%}
                                <li>
                                  {%- if childlink.links == blank -%}
                                    <a
                                      href="{{ childlink.url }}"
                                      class="menu-drawer__menu-item   menu-drawer__menu-subitem  list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                      {% if childlink.current %}
                                        aria-current="page"
                                      {% endif %}
                                    >
                                      {{ childlink.title | escape }}
                                    </a>
                                  {%- else -%}
                                    <div
                                      class="menu-drawer__menu-item menu-drawer__menu-subitem"
                                      id="{{ childlink.title | escape }}"
                                    >
                                      {{ childlink.title | escape }}
                                    </div>
                                    <ul
                                      class="menu-drawer__menu__list menu-drawer__menu__child-list"
                                      role="list"
                                      tabindex="-1"
                                      aria-labelledby="{{ childlink.title | escape }}"
                                    >
                                      {%- for grandchildlink in childlink.links -%}
                                        <li>
                                          <a
                                            href="{{ grandchildlink.url }}"
                                            class="menu-drawer__menu-item  menu-drawer__menu-child-item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                            {% if grandchildlink.current %}
                                              aria-current="page"
                                            {% endif %}
                                          >
                                            {{ grandchildlink.title | escape }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- else -%}
                            <a
                              href="{{ link.url }}"
                              class="menu-drawer__menu-item  menu-drawer__menu-item--no-children   focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                              {% if link.current %}
                                aria-current="page"
                              {% endif %}
                            >
                              {{ link.title | escape }}
                            </a>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                    <localization-form class="no-js-hidden">
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
                      </div>
                    </localization-form>
                    <ul>
                      {%- for link in section.settings['footer-menu'].links -%}
                        <li>
                          <a
                            href="{{ link.url }}"
                            class="menu-drawer__menu-item {% if link.current %} menu-drawer__menu-item--active{% endif %}"
                            {% if link.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {{ link.title | escape }}
                          </a>
                        </li>
                      {% endfor %}

                      <li>
                        <button
                          aria-label="Open modal to sign up for the Ajornada newsletter"
                          aria-expanded="false"
                          aria-controls="newsletter-sign-up-modal"
                          aria-haspopup="dialog"
                          data-modal="newsletter-sign-up-modal"
                          class="button  button--secondary  button--medium menu-drawer__utility-links__button"
                        >
                          <span class="button__text"> Get Updates </span>
                          <span class="button__icon">
                            <svg aria-hidden="true" focusable="false">
                              <use href="#arrow-right">
                            </svg>
                          </span>
                        </button>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </aside>
          </details>
        </header-drawer>
      {%- endif -%}

      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {% else %}
        <div class="header__heading">
      {%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        <svg class="header__logo" title="Ajornada" focusable="false">
          <use href="#brand-logo">
        </svg>
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {% else %}
        </div>
      {%- endif -%}

      {%- if section.settings.menu != blank -%}
        <nav class="header__menu">
          <ul class="header__menu__list-menu " role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <menu-dropdown>
                    <button
                      class="header__menu-item  focus-inset"
                      id="#{{ link.title | escape }}"
                      aria-expanded="false"
                    >
                      <span
                        {%- if link.child_active %}
                          class="header__active-menu-item"
                        {% endif %}
                      >
                        {{- link.title | escape -}}
                      </span>
                    </button>

                    {% assign title = link.title | escape %}

                    <div
                      class="header__submenu  {% if title == 'Shop' %}header__submenu--shop{% endif %} preload"
                      role="region"
                      aria-hidden="true"
                      aria-labelledby="{{ link.title | escape }}"
                    >
                      <div class="header__submenu__inner  page-width">
                        <ol class="header__submenu__list-menu   motion-reduce">
                          {%- for childlink in link.links -%}
                            <li>
                              {%- if childlink.links == blank -%}
                                <a
                                  href="{{ childlink.url }}"
                                  class="header__submenu__list-item    focus-inset {% if childlink.current %} header__submenu__list-item--active{% endif %}"
                                  {% if childlink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ childlink.title | escape }}
                                </a>
                              {%- else -%}
                                <div
                                  class="header__submenu__list-item  focus-inset"
                                  id="{{ childlink.title | escape }}"
                                >
                                  {{ childlink.title | escape }}
                                </div>
                                <div class="header__childmenu">
                                  <ul
                                    class="header__submenu__list-menu  header__childmenu__list-menu"
                                    aria-describedby="{{ childlink.title | escape }}"
                                  >
                                    {%- for grandchildlink in childlink.links -%}
                                      <li>
                                        <a
                                          href="{{ grandchildlink.url }}"
                                          class="header__submenu__list-item  header__childmenu__list-item focus-inset {% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                          {% if grandchildlink.current %}
                                            aria-current="page"
                                          {% endif %}
                                        >
                                          {{ grandchildlink.title | escape }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                </div>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ol>
                      </div>
                    </div>
                  </menu-dropdown>

                {%- else -%}
                  <a
                    href="{{ link.url }}"
                    class=" header__menu-item  focus-inset"
                    {% if link.current %}
                      aria-current="page"
                    {% endif %}
                  >
                    <span
                      {%- if link.current %}
                        class="header__active-menu-item"
                      {% endif %}
                    >
                      {{- link.title | escape -}}
                    </span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
            <li>
              <cart-toggle data-toggle-type="text">
                <button
                  class="header__cart-button header__menu-item focus-inset"
                  id="cart-icon-bubble"
                  data-cart-toggle
                  aria-expanded="false"
                >
                  <span data-cart-toggle-text>My Bag</span>
                  <div
                    data-cart-count-bubble
                    class="cart-count-bubble {% if cart.item_count == 0 %}is-hidden{% endif %}"
                  >
                    <span aria-hidden="true" data-cart-count>
                      {{ cart.item_count }}
                    </span>
                    <span class="visually-hidden" data-cart-count-aria>
                      {%- if cart.item_count > 0 -%}
                        {{ 'sections.header.cart_count' | t: count: cart.item_count }}
                      {%- endif -%}
                    </span>
                  </div>
                </button>
              </cart-toggle>
            </li>
          </ul>
        </nav>
        <localization-form class="no-js-hidden">
          <h2 class="visually-hidden" id="HeaderCountryLabel">
            {{ 'localization.language_label' | t }}
          </h2>
          {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
        </localization-form>
      {%- endif -%}

      <cart-toggle class="hide-for-large-up" data-toggle-type="icon">
        <button
          class="header__icon header__icon--cart  focus-inset"
          id="cart-icon-bubble"
          data-cart-toggle
          aria-expanded="false"
        >
          {%- render 'icon-cart' -%}
          <span class="visually-hidden" data-cart-toggle-text>My Bag</span>
          <div data-cart-count-bubble class="cart-count-bubble {% if cart.item_count == 0 %}is-hidden{% endif %}">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true" data-cart-count>
                {{ cart.item_count }}
              </span>
            {%- endif -%}
            <span class="visually-hidden" data-cart-count-aria>
              {%- if cart.item_count > 0 -%}
                {{ 'sections.header.cart_count' | t: count: cart.item_count }}
              {%- endif -%}
            </span>
          </div>
        </button>
      </cart-toggle>
    </div>
  </header>
</sticky-header>

{%- render 'cart-off-canvas' -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Main Menu"
    },
    {
      "type": "link_list",
      "id": "footer-menu",
      "default": "main-menu",
      "label": "Mobile Nav Footer Menu"
    }
  ]
}
{% endschema %}
